= render partial: "shared/mypage/header"
.main
  .main-content
    = render 'modules/mypage-sidebar'

    .logout-content
      .logout-btn
        = link_to "ログアウト", destroy_user_session_path, method: :delete

= render "shared/mypage/sell-btn"
= render "shared/mypage/footer"