.confirm____container
  .confirm__simple__header__logo
    = link_to root_path do
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3791839826"      
  .buy-main
    .buy-main__box
      .buy-content
        %h2.buy-content__completed-message_1
          %i.fa.fa-clock
          発送をお待ちください
          %h2.buy-content__completed-message_2
            出品者からの発送通知をお待ちください
            %h2.buy-content__header
              購入が完了しました
        .buy-content__product
          .buy-content__product__inner
            .buy-product-main
              .buy-product-image
                = image_tag "https://static.mercdn.net/thumb/photos/m47187028411_1.jpg?1568902155", width: "100px"  #フロント実装時の仮置き画像
                = image_tag "#{@product.images[0].image}", height: "64px" , width: "64px"
                .buy-product-name THREE シマリンググロスリップジャム15番  
                = @product.name
            %form.buy-form
              %p.buy-price
                ¥1500
                = @product.price.to_s(:delimited)
                %span送料込み
        .buy-content__user-info
          .buy-content__user-info__inner
            %h3 配送先
            .user-info-text
              〒150-0041
              -# = @addresses.postal_code.to_s.insert(3, " - ")
              %br
              東京都渋谷区神南1丁目18−2
              -# = @addresses.prefecture + @addresses.city + @addresses.street + @addresses.building
              %br
              山田花子
              -# = @users.f_name_kanji + " " + @user.l_name_kanji

            .user-info-fix
              = link_to "#" do
                変更する
                %span 
                %i.fa.fa-chevron-right
        .buy-content__user-info
          .buy-content__user-info__inner
            %h3 支払方法

            .user-info-text
              ********0890
              %br
              06/23
            .user-info-fix
              = link_to "#" do
                変更する
                %span
                %i.fa.fa-chevron-right

  .signup__footer
    .signup__footer__detail
      = link_to "プライバシーポリシー"
      = link_to "メルカリ利用規約"
      = link_to "特定商取引に関する表記"
    .signup__footer__logo
      = link_to root_path do
        = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2482339763", width: "80px"
    %p © 2019 Mercari